.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sections {
  display: flex;
  flex-direction: column; 
  background-color: #778291;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.section1 {
  display: flex;
  height: 783px;
  padding: 0px 4px 0px 59px;
  justify-content: flex-end;
  align-items: center;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  padding: 20px;
}

.paragraph-1,
.paragraph-2 {
  flex: 1;
  padding: 10px;
}

.image-student {
  margin-top: 20px;
}

.apply-now-btn {
  background-color: #E37576;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.start-exploring-btn {
  background-color: #E37576;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}