.about-us {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h3 {
    color: #333;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
  }
  
  .content-left,
  .content-right {
    flex: 1;
    padding: 10px;
  }
  
  .content-left {
    background-color: #e6f7ff;
  }
  
  .content-right {
    background-color: #ccf2ff;
  }
  